.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.677734;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.740723;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.926270;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc2{color:rgb(255,102,0);}
.fc3{color:rgb(0,0,0);}
.fc1{color:rgb(255,0,0);}
.fc0{color:rgb(255,0,255);}
.fs0{font-size:39.840000px;}
.fs4{font-size:44.160000px;}
.fs2{font-size:48.000000px;}
.fs3{font-size:56.160000px;}
.fs1{font-size:80.160000px;}
.y1f{bottom:2.828600px;}
.y2{bottom:2.828700px;}
.y28{bottom:2.994000px;}
.y5{bottom:3.261000px;}
.yc{bottom:3.451300px;}
.y12{bottom:3.478000px;}
.y31{bottom:3.478100px;}
.ye{bottom:3.675700px;}
.yb{bottom:4.108000px;}
.y4{bottom:7.543000px;}
.y25{bottom:10.254000px;}
.y24{bottom:10.693700px;}
.y26{bottom:15.170700px;}
.y27{bottom:17.514000px;}
.y29{bottom:17.998000px;}
.y3b{bottom:54.250000px;}
.y0{bottom:68.000000px;}
.y3a{bottom:68.286000px;}
.y39{bottom:82.322100px;}
.y38{bottom:96.358100px;}
.y37{bottom:110.394100px;}
.y36{bottom:124.430100px;}
.y35{bottom:138.466100px;}
.y34{bottom:152.502100px;}
.y33{bottom:166.538100px;}
.y32{bottom:180.574100px;}
.y30{bottom:194.610100px;}
.y2f{bottom:208.646200px;}
.y2e{bottom:222.682200px;}
.y2d{bottom:236.718200px;}
.y2c{bottom:250.754200px;}
.y2b{bottom:264.790200px;}
.y2a{bottom:278.826200px;}
.y23{bottom:292.862200px;}
.y22{bottom:306.898200px;}
.y21{bottom:320.934200px;}
.y20{bottom:334.970200px;}
.y1e{bottom:349.006300px;}
.y1d{bottom:363.042300px;}
.y1c{bottom:377.078300px;}
.y1b{bottom:391.114300px;}
.y1a{bottom:405.150300px;}
.y19{bottom:419.186300px;}
.y18{bottom:433.222300px;}
.y17{bottom:447.258300px;}
.y16{bottom:461.294300px;}
.y15{bottom:475.330300px;}
.y14{bottom:489.366300px;}
.y13{bottom:503.402300px;}
.y11{bottom:517.438300px;}
.y10{bottom:531.474300px;}
.yf{bottom:545.510300px;}
.yd{bottom:559.546300px;}
.ya{bottom:573.582300px;}
.y9{bottom:590.522300px;}
.y8{bottom:604.558300px;}
.y7{bottom:618.594300px;}
.y6{bottom:632.630300px;}
.y3{bottom:646.666300px;}
.y1{bottom:660.702300px;}
.h8{height:13.536000px;}
.hc{height:13.536100px;}
.h2{height:14.504000px;}
.h9{height:16.440000px;}
.hd{height:27.572000px;}
.h4{height:28.540000px;}
.h3{height:29.004609px;}
.hb{height:30.187500px;}
.h7{height:34.359375px;}
.h6{height:34.945312px;}
.ha{height:40.200469px;}
.h5{height:53.426953px;}
.h1{height:608.000000px;}
.h0{height:758.012300px;}
.w3{width:51.101700px;}
.w9{width:51.101800px;}
.w7{width:51.908000px;}
.w8{width:56.745700px;}
.w6{width:59.164500px;}
.wa{width:61.583300px;}
.w5{width:62.389600px;}
.w2{width:71.258700px;}
.wb{width:122.860400px;}
.w4{width:267.990200px;}
.wd{width:515.517400px;}
.wc{width:577.600700px;}
.w1{width:1347.000000px;}
.w0{width:1495.659400px;}
.x7{left:2.185100px;}
.x2c{left:3.467100px;}
.xa{left:4.906300px;}
.x9{left:6.296500px;}
.x13{left:7.549400px;}
.x11{left:8.950100px;}
.x1{left:10.172500px;}
.x3{left:11.702700px;}
.x14{left:13.088700px;}
.x16{left:14.212200px;}
.x1f{left:15.858400px;}
.xe{left:17.100400px;}
.x19{left:18.503700px;}
.x15{left:20.400800px;}
.xc{left:22.384600px;}
.x31{left:23.590000px;}
.x20{left:24.835300px;}
.x1b{left:26.080600px;}
.x29{left:28.022000px;}
.x2b{left:30.090100px;}
.x28{left:32.859700px;}
.x30{left:34.780900px;}
.x2f{left:38.209200px;}
.x33{left:43.756200px;}
.x1d{left:45.099300px;}
.x1a{left:48.754700px;}
.x32{left:51.819000px;}
.x0{left:98.500000px;}
.x5{left:112.418800px;}
.x2{left:170.785300px;}
.x1e{left:244.195000px;}
.x1c{left:254.464700px;}
.x4{left:273.988800px;}
.x17{left:336.072100px;}
.x18{left:387.673800px;}
.x21{left:439.275600px;}
.x22{left:490.877300px;}
.x23{left:542.479000px;}
.x24{left:594.080800px;}
.x34{left:645.682500px;}
.x25{left:697.284300px;}
.x26{left:748.886000px;}
.x27{left:800.487700px;}
.x6{left:903.691200px;}
.xb{left:966.580800px;}
.xd{left:1026.245300px;}
.xf{left:1078.653300px;}
.x10{left:1130.255100px;}
.x2d{left:1187.500700px;}
.x8{left:1239.102500px;}
.x12{left:1290.704200px;}
.x2e{left:1342.306000px;}
.x2a{left:1393.907700px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs0{font-size:53.120000pt;}
.fs4{font-size:58.880000pt;}
.fs2{font-size:64.000000pt;}
.fs3{font-size:74.880000pt;}
.fs1{font-size:106.880000pt;}
.y1f{bottom:3.771467pt;}
.y2{bottom:3.771600pt;}
.y28{bottom:3.992000pt;}
.y5{bottom:4.348000pt;}
.yc{bottom:4.601733pt;}
.y12{bottom:4.637333pt;}
.y31{bottom:4.637467pt;}
.ye{bottom:4.900933pt;}
.yb{bottom:5.477333pt;}
.y4{bottom:10.057333pt;}
.y25{bottom:13.672000pt;}
.y24{bottom:14.258267pt;}
.y26{bottom:20.227600pt;}
.y27{bottom:23.352000pt;}
.y29{bottom:23.997333pt;}
.y3b{bottom:72.333333pt;}
.y0{bottom:90.666667pt;}
.y3a{bottom:91.048000pt;}
.y39{bottom:109.762800pt;}
.y38{bottom:128.477467pt;}
.y37{bottom:147.192133pt;}
.y36{bottom:165.906800pt;}
.y35{bottom:184.621467pt;}
.y34{bottom:203.336133pt;}
.y33{bottom:222.050800pt;}
.y32{bottom:240.765467pt;}
.y30{bottom:259.480133pt;}
.y2f{bottom:278.194933pt;}
.y2e{bottom:296.909600pt;}
.y2d{bottom:315.624267pt;}
.y2c{bottom:334.338933pt;}
.y2b{bottom:353.053600pt;}
.y2a{bottom:371.768267pt;}
.y23{bottom:390.482933pt;}
.y22{bottom:409.197600pt;}
.y21{bottom:427.912267pt;}
.y20{bottom:446.626933pt;}
.y1e{bottom:465.341733pt;}
.y1d{bottom:484.056400pt;}
.y1c{bottom:502.771067pt;}
.y1b{bottom:521.485733pt;}
.y1a{bottom:540.200400pt;}
.y19{bottom:558.915067pt;}
.y18{bottom:577.629733pt;}
.y17{bottom:596.344400pt;}
.y16{bottom:615.059067pt;}
.y15{bottom:633.773733pt;}
.y14{bottom:652.488400pt;}
.y13{bottom:671.203067pt;}
.y11{bottom:689.917733pt;}
.y10{bottom:708.632400pt;}
.yf{bottom:727.347067pt;}
.yd{bottom:746.061733pt;}
.ya{bottom:764.776400pt;}
.y9{bottom:787.363067pt;}
.y8{bottom:806.077733pt;}
.y7{bottom:824.792400pt;}
.y6{bottom:843.507067pt;}
.y3{bottom:862.221733pt;}
.y1{bottom:880.936400pt;}
.h8{height:18.048000pt;}
.hc{height:18.048133pt;}
.h2{height:19.338667pt;}
.h9{height:21.920000pt;}
.hd{height:36.762667pt;}
.h4{height:38.053333pt;}
.h3{height:38.672812pt;}
.hb{height:40.250000pt;}
.h7{height:45.812500pt;}
.h6{height:46.593750pt;}
.ha{height:53.600625pt;}
.h5{height:71.235937pt;}
.h1{height:810.666667pt;}
.h0{height:1010.683067pt;}
.w3{width:68.135600pt;}
.w9{width:68.135733pt;}
.w7{width:69.210667pt;}
.w8{width:75.660933pt;}
.w6{width:78.886000pt;}
.wa{width:82.111067pt;}
.w5{width:83.186133pt;}
.w2{width:95.011600pt;}
.wb{width:163.813867pt;}
.w4{width:357.320267pt;}
.wd{width:687.356533pt;}
.wc{width:770.134267pt;}
.w1{width:1796.000000pt;}
.w0{width:1994.212533pt;}
.x7{left:2.913467pt;}
.x2c{left:4.622800pt;}
.xa{left:6.541733pt;}
.x9{left:8.395333pt;}
.x13{left:10.065867pt;}
.x11{left:11.933467pt;}
.x1{left:13.563333pt;}
.x3{left:15.603600pt;}
.x14{left:17.451600pt;}
.x16{left:18.949600pt;}
.x1f{left:21.144533pt;}
.xe{left:22.800533pt;}
.x19{left:24.671600pt;}
.x15{left:27.201067pt;}
.xc{left:29.846133pt;}
.x31{left:31.453333pt;}
.x20{left:33.113733pt;}
.x1b{left:34.774133pt;}
.x29{left:37.362667pt;}
.x2b{left:40.120133pt;}
.x28{left:43.812933pt;}
.x30{left:46.374533pt;}
.x2f{left:50.945600pt;}
.x33{left:58.341600pt;}
.x1d{left:60.132400pt;}
.x1a{left:65.006267pt;}
.x32{left:69.092000pt;}
.x0{left:131.333333pt;}
.x5{left:149.891733pt;}
.x2{left:227.713733pt;}
.x1e{left:325.593333pt;}
.x1c{left:339.286267pt;}
.x4{left:365.318400pt;}
.x17{left:448.096133pt;}
.x18{left:516.898400pt;}
.x21{left:585.700800pt;}
.x22{left:654.503067pt;}
.x23{left:723.305333pt;}
.x24{left:792.107733pt;}
.x34{left:860.910000pt;}
.x25{left:929.712400pt;}
.x26{left:998.514667pt;}
.x27{left:1067.316933pt;}
.x6{left:1204.921600pt;}
.xb{left:1288.774400pt;}
.xd{left:1368.327067pt;}
.xf{left:1438.204400pt;}
.x10{left:1507.006800pt;}
.x2d{left:1583.334267pt;}
.x8{left:1652.136667pt;}
.x12{left:1720.938933pt;}
.x2e{left:1789.741333pt;}
.x2a{left:1858.543600pt;}
}
